<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>JS Starter app</h1>
    <h2>Flickr API key probably obsolete</h2>
    <!-- stuff injected here -->
  </body>
</html>
